/* src/components/Header.module.css */

.header {
    position: fixed; /* Keep header fixed at the top */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8; /* Changed from black to white */
    padding: 20px 40px;
    box-shadow: 0 0 20px rgba(0, 191, 255, 0.3); /* Light Blue Neon Glow */
    z-index: 1000; /* Ensure header stays above other elements */
    box-sizing: border-box;
  }
  
  .title {
    color: #000000; /* Changed from neon green to light blue */
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
  }
  
  
  /* Responsive Adjustments for Header */
  @media (max-width: 600px) {
    .header {
      flex-direction: column;
      padding: 10px 20px;
    }
  
    .title {
      margin-bottom: 10px;
      text-align: center;
    }
  
    .logoPlaceholder {
      width: 50px;
      height: 50px;
    }
  
    .logo {
      width: 30px;
      height: 30px;
    }
  }